.sidebar {
  ul {
    list-style: none;

    li {
      margin-bottom: 1rem;

      a {
        color: var(--text);
        text-decoration: none;
        font-size: 1.1rem;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}
