.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: var(--text);
}

.content {
  text-align: center;
}

.code {
  font-size: 6rem;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.link {
  color: var(--primary);
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--primary-dark);
  }
}
